<?xml version="1.0" ?>

<launch>
	
	<param command="$(find xacro)/xacro $(find singbot_description)/urdf/singbot.xacro" name="robot_description"/>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	
	<node name="differential" pkg="singbot_description" type="diff.py" output="screen"/>
	
	<node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="frame_id" value="lidar_1"/>
    </node>
	
	
</launch>